<html lang="en">
<head>
  <meta charset="UTF-8/">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0 /">
  <meta name="generator" content="{Astro.generator} "/>
  <title>Astro Learning</title>
</head>
<body>
  <header>
    <a href="/">
    <span role="img" aria-label="hotdog">🌭</span>
    </a>
    <!-- TODO: add nav -->
  </header>
  
  <!--TODO: display content -->

  <footer>

  </footer>
</body>
</html>